._ZTBlf {
  background-color: #0e0e0e1f;
}
._-cAh3 {
  width: 100%;
  max-width: 100%;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.pagination > li > a,
.select-item {
  margin: 0 6px 12px 6px;
  border: 1px solid #8c8d8c;
  border-radius: 5px;
  padding: 5px 10px;
  color: #8c8d8c;
  cursor: pointer;
}
.pagination > li{
  margin: 20px 0;
}
.page-active > a,
.select-item {
  border: 1px solid #2fd5a5;
  background: #2fd5a5;
  color: #fff;
}
.page-item {
  margin: 0 12px;
}
.label {
  color: #535151;
  margin: 0 10px;
}
.flex {
  display: flex;
}
.ml-5 {
  margin-left: 2rem !important;
}
.mt-11 {
  margin-top: 11px;
}